<div class="main">
  <div class="top">
    <div *ngIf="!mobileView" class="motto">Simple, traffic-based pricing</div>
    <div *ngIf="!mobileView" class="info">
      Sign-up for our 30-day trial. No credit card required.
    </div>
  </div>
  <div class="absolute">
    <div *ngIf="mobileView" class="motto">Simple, traffic-based pricing</div>
    <div *ngIf="mobileView" class="info">
      Sign-up for our 30-day trial. No credit card required.
    </div>
    <div class="interactive-price-container">
      <div class="pageviews-container">
        <div class="pageviews">100K PAGEVIEWS</div>
        <div class="monthly" *ngIf="!mobileView">
          <span class="price">$16.00</span>
          <span class="month">/ month</span>
        </div>
      </div>
      <div class="slidecontainer">
        <div class="progress-bar"></div>
        <input
          type="range"
          min="1"
          max="100"
          [(ngModel)]="range"
          [ngStyle]="{ background: style ? style : '' }"
          value="{{ range }}"
          class="slider"
          style="--left: {{ range }}%; --right: {{ 100 - range }}%;"
          id="myRange"
          (ngModelChange)="onRangeChange()"
        />
      </div>
      <div class="monthly" *ngIf="mobileView">
        <span class="price">$16.00</span>
        <span class="month">/ month</span>
      </div>
      <div class="mothly-billing-container">
        <div class="monthly-billing right">Monthly Billing</div>
        <label class="switch right">
          <input type="checkbox" />
          <span class="slider-bill round"></span>
        </label>
        <div class="yearly">Yearly Billing</div>
        <div *ngIf="!mobileView" class="discount">25% discount</div>
        <div *ngIf="mobileView" class="discount">-25%</div>
      </div>
      <div class="footer-container">
        <div class="check-container">
          <div class="check-data">
            <img
              src="../assets/icon-check.svg"
              alt="icon-check"
              class="check"
            />
            <div class="check-title">Unlimited Websites</div>
          </div>
          <div class="check-data">
            <img
              src="../assets/icon-check.svg"
              alt="icon-check"
              class="check"
            />
            <div class="check-title">100% data ownership</div>
          </div>
          <div class="check-data">
            <img
              src="../assets/icon-check.svg"
              alt="icon-check"
              class="check"
            />
            <div class="check-title">Email reports</div>
          </div>
        </div>
        <div class="start-trial-container">
          <button class="start-my-trial">Start my trial</button>
        </div>
      </div>
      <hr class="horizontal" />
    </div>
  </div>
  <div class="background" *ngIf="mobileView"></div>
</div>
