@media (max-width: 678px) {
  .main {
    width: 100vw;
    height: 100vh;
    background-color: hsl(230, 100%, 99%);
    position: relative;
    overflow: hidden;
  }

  .top {
    background: url("../assets/pattern-circles.svg"),
      url("../assets/bg-pattern.svg");
    background-size: 40%, cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 0px 150px;
    height: 50%;
    width: 100%;
    background-position: center 35%;
    position: relative;
  }

  .motto {
    text-align: center;
    font-size: 140%;
    font-family: "Manrope";
    font-weight: 800;
    color: hsl(227, 35%, 25%);
  }

  .info {
    font-family: "Manrope";
    text-align: center;
    font-size: 100%;
    font-weight: 500;
    margin: 4%;
    color: hsl(225, 20%, 60%);
    padding: 0% 18%;
  }

  .absolute {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .interactive-price-container {
    background-color: white;

    width: 75%;
    display: grid;
    padding: 10% 7%;
    box-shadow: 0px 0px 20px -20px;
    border-radius: 10px;
    margin: 5% auto;
  }

  .pageviews-container {
    display: flex;
    justify-content: center;
    font-family: "Manrope";
  }

  .pageviews {
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 90%;
    color: hsl(225, 20%, 60%);
    font-weight: 800;
  }

  .monthly {
    display: flex;
    font-family: "Manrope";
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }

  .price {
    color: hsl(227, 35%, 25%);
    font-size: 200%;
    font-weight: 800;
  }

  .month {
    color: hsl(225, 20%, 60%);
    font-weight: 600;
    font-size: 90%;
    margin-left: 2%;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      hsl(174, 77%, 80%) 50%,
      transparent 50%,
      transparent 50%,
      hsl(224, 65%, 95%) 50%
    );
    outline: none;
  }

  .progress-bar {
    height: 10px;
    width: var(--left, 0%);
    background-color: hsl(174, 77%, 80%);
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border: 0;
    background: url("../assets/icon-slider.svg"), hsl(174, 86%, 45%);
    border-radius: 25px;
    cursor: pointer;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: center, center;
    box-shadow: 2px 2px 30px 2px hsl(174, 86%, 45%);
  }

  .slider::-webkit-slider-thumb:hover {
    background-color: hsl(174, 77%, 80%);
  }

  .slider:active::-webkit-slider-thumb {
    background-color: hsl(174, 86%, 45%);
    box-shadow: none;
  }

  .slidecontainer {
    margin-top: 10%;
  }

  .mothly-billing-container {
    display: flex;
    margin: 10% 0px;
    font-family: "Manrope";
    color: hsl(225, 20%, 60%);
    font-size: 75%;
    font-weight: 600;
    align-items: center;
    justify-content: end;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider-bill {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(223, 50%, 87%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider-bill:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider-bill {
    background-color: hsl(174, 86%, 45%);
  }

  input:checked + .slider-bill:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }

  /* Rounded sliders */
  .slider-bill.round {
    border-radius: 34px;
  }

  .slider-bill.round:before {
    border-radius: 50%;
  }

  .discount {
    background-color: hsl(14, 92%, 95%);

    color: hsl(15, 100%, 70%);
    padding: 2% 2%;
    border-radius: 25px;
    margin-left: 3%;
  }
  .right {
    margin-right: 3%;
  }
  .horizontal {
    position: absolute;
    width: 89%;
    top: 63%;
    left: 50%;
    border: none;
    border: 1px solid hsl(224, 65%, 95%);
    transform: translate(-50%);
  }
  .footer-container {
    display: grid;
    align-items: center;
    font-family: "Manrope";
    margin-top: 15%;
    justify-content: center;
  }
  .check-container {
    display: grid;
    margin-bottom: 5%;
  }
  .check-data {
    display: flex;
    font-size: 85%;
    color: hsl(225, 20%, 60%);
    align-items: center;
    font-weight: 500;
    margin-bottom: 7%;
    text-align: center;
  }
  .check {
  }
  .check-title {
    margin-left: 5%;
  }
  .start-my-trial {
    background-color: hsl(227, 35%, 25%);
    border: 0;
    outline: 0;
    color: hsl(224, 65%, 95%);
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 600;
    padding: 10px 35px;
    border-radius: 25px;
    cursor: pointer;
  }

  .start-my-trial:hover {
    color: white;
  }
  .background {
  }
}
